extends layout

block content
  .container
    h1 Chris Naismith
    ul
      li I am #{age} years old
      li I live in #{cityResiding} Ontario
      li I was born in #{cityBorn} Ontario
      li I enjoy #{likes}
      li I dislike #{dislikes}